  <div class="wrapper">
  <header class="main-header"> <a href="index.html" class="logo"> <!-- Logo --> 
    <span class="logo-mini"> 
    <img src="assets/dist/img/mini-logo.png" alt=""> </span> <span class="logo-lg"> 
    <img src="assets/dist/img/logo.png" alt=""> </span> </a> 
    <nav class="navbar navbar-static-top"> <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button--> 
      <span class="sr-only">Toggle navigation</span> <span class="pe-7s-keypad"></span> </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-mail"></i> <span class="label label-success">4</span> </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <ul class="menu">
                  <li><!-- start message --> 
                    <a href="#">
                    <div class="pull-left"><img src="assets/dist/img/avatar.png" class="img-circle" alt="User Image"></div>
                    <h4>Support Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                    <p>Why not buy a new awesome theme?</p>
                    </a> </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications -->
          <li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-speaker"></i> <span class="label label-warning">{{length}}</span> </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{length}} notifications</li>
              <li>
                <ul class="menu" *ngFor="let u of NotificationData">
                  <li><a href="#"><i class="ti-user color-gray"></i>{{u.message}} </a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- Tasks -->
          <li class="dropdown tasks-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-flag"></i> <span class="label label-danger">9</span> </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <ul class="menu">
                  <li> <!-- Task item --> 
                    <a href="#">
                    <h3> Design some buttons <small class="pull-right">20%</small> </h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"> <span class="sr-only">30% Complete (primary)</span> </div>
                    </div>
                    </a> </li>
                </ul>
              </li>
              <li class="footer"> <a href="#">View all tasks</a> </li>
            </ul>
          </li>
          <li class="dropdown dropdown-user"> <a class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-settings"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="pe-7s-users"></i> User Profile</a></li>
              <li><a href="#"><i class="pe-7s-settings"></i> Settings</a></li>
              <li><a type="button" (click)="Logout()"><i class="pe-7s-key"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar"> 
    <div class="sidebar"> 
      <div class="user-panel text-center">
        <div class="image"> <img src="assets/dist/img/user2-160x160.png" class="img-circle" alt="User Image"> </div>
        <div class="info">
          <p>Borrower Name</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a> </div>
      </div>
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li> <a routerLink="/borrower"><i class="ti-home"></i> <span>Dashboard</span> 
          </a> </li>
  <li class="treeview"> <a routerLink="/financial-statement"> <i class="fa fa-money" aria-hidden="true"></i><span>Financial Report</span> </a> </li>
  <li class="treeview"> <a type="button" data-toggle="modal" data-target="#myModal"> <i class="fa fa-certificate" aria-hidden="true"></i><span>Compliance Certificate</span> </a> </li>
      </ul>
    </div>
  </aside>
  <!--////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////-->
  <div class="content-wrapper"> 
    <section class="content" style="margin-top:15px;padding:0;min-height:100%;">
      <div class="row"> 
        <div class="col-sm-12">
          <div class="panel panel-bd">
            <div class="table-financial-report" style="padding:15px;">
              <p class="text-right pull-right">
                <a routerLink="/manage-case" class="btn btn-info btn-lg">New Case</a>
              </p>
              
              <h2 class="pull-left">Cases</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="200"># ID</th>
                    <th data-toggle="modal" data-target="#myModal">Loan Amount</th>
                    <th>Case Status</th>
                    <th width="78"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="active" *ngFor="let u of CaseData">
                      <td id="student-data1">{{u.id}}</td>
                      <td id="student-data2">{{u.amountRequested}}</td>
                      <td id="student-data3">{{u.status}}</td>
                      <td id="student-data3"><button class="btn btn-success" data-toggle="modal" data-target="#myModal-r" (click)="ModalData(u)">View</button></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
    <strong>Copyright &copy; 2016-2017 <a href="#">bdtask</a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i> </footer>
    </div>
    <!--///////////////////////////////////////////////////
    ///////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////-->
    <div class="modal fade" id="myModal-r" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Case Data</h4>
          </div>
          <div class="modal-body" *ngIf="modalData">
              id : {{modalData.id}}
              administrativeAgentId:{{modalData.administrativeAgentId}}<br>
              amountRequested : {{modalData.amountRequested}}<br>
              borrowerId : {{modalData.borrowerId}}<br>
              borrowerName:{{modalData.borrowerName}}<br>
              engineerId:{{modalData.engineerId}}<br>
              status: {{modalData.status}}
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Compliance Certificate</h4>
          </div>
          <div class="modal-body">
            <input type="file" multiple="true" (change)="fileChange($event)">
            <span>Select Document</span>
            <ng2-datepicker [options]="options" class="form-control" [(ngModel)]="date"></ng2-datepicker>
            <label >Date</label>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary center-block" (click)="AddComplianceCert()">Add</button>
          </div>
        </div>
      </div>
    </div>