  <div class="wrapper">
  <header class="main-header"> <a routerLink="index.html" class="logo"> <!-- Logo --> 
    <span class="logo-mini"> 
    <img src="assets/dist/img/mini-logo.png" alt=""> </span> <span class="logo-lg"> 
    <img src="assets/dist/img/logo.png" alt=""> </span> </a> 
    <nav class="navbar navbar-static-top"> <a routerLink="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button--> 
      <span class="sr-only">Toggle navigation</span> <span class="pe-7s-keypad"></span> </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown messages-menu"> <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-mail"></i> <span class="label label-success">4</span> </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <ul class="menu">
                  <li><!-- start message --> 
                    <a routerLink="#">
                    <div class="pull-left"><img src="assets/dist/img/avatar.png" class="img-circle" alt="User Image"></div>
                    <h4>Support Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                    <p>Why not buy a new awesome theme?</p>
                    </a> </li>
                  <li> <a routerLink="#">
                    <div class="pull-left"><img src="assets/dist/img/avatar2.png" class="img-circle" alt="User Image"></div>
                    <h4>AdminLTE Design Team<small><i class="fa fa-clock-o"></i> 2 hours</small></h4>
                    <p>Why not buy a new awesome theme?</p>
                    </a> </li>
                  <li> <a routerLink="#">
                    <div class="pull-left"><img src="assets/dist/img/avatar3.png" class="img-circle" alt="User Image"></div>
                    <h4>Developers<small><i class="fa fa-clock-o"></i> Today</small></h4>
                    <p>Why not buy a new awesome theme?</p>
                    </a> </li>
                  <li> <a routerLink="#">
                    <div class="pull-left"><img src="assets/dist/img/avatar4.png" class="img-circle" alt="User Image"></div>
                    <h4>Sales Department<small><i class="fa fa-clock-o"></i> Yesterday</small></h4>
                    <p>Why not buy a new awesome theme?</p>
                    </a> </li>
                  <li> <a routerLink="#">
                    <div class="pull-left"><img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image"></div>
                    <h4>Reviewers<small><i class="fa fa-clock-o"></i> 2 days</small></h4>
                    <p>Why not buy a new awesome theme?</p>
                    </a> </li>
                </ul>
              </li>
              <li class="footer"><a routerLink="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications -->
          <li class="dropdown notifications-menu"> <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-speaker"></i> <span class="label label-warning">8</span> </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <ul class="menu">
                  <li><a routerLink="#"><i class="ti-user color-gray"></i> 5 new members joined today </a></li>
                  <li><a routerLink="#"><i class="ti-announcement color-green"></i> Very long description here that may not fit into the page and may cause design problems</a></li>
                  <li><a routerLink="#"><i class="fa fa-users"></i> 5 new members joined</a></li>
                  <li><a routerLink="#"><i class="ti-shopping-cart color-violet"></i> 25 sales made</a></li>
                  <li><a routerLink="#"><i class="ti-twitter color-info"></i> 3 New Followers</a></li>
                </ul>
              </li>
              <li class="footer"><a routerLink="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks -->
          <li class="dropdown tasks-menu"> <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-flag"></i> <span class="label label-danger">9</span> </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <ul class="menu">
                  <li> <!-- Task item --> 
                    <a routerLink="#">
                    <h3> Design some buttons <small class="pull-right">20%</small> </h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"> <span class="sr-only">30% Complete (primary)</span> </div>
                    </div>
                    </a> </li>
                  <!-- end task item -->
                  <li> <!-- Task item --> 
                    <a routerLink="#">
                    <h3> Create a nice theme <small class="pull-right">40%</small> </h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (primary)</span> </div>
                    </div>
                    </a> </li>
                  <!-- end task item -->
                  <li> <!-- Task item --> 
                    <a routerLink="#">
                    <h3> Some task I need to do <small class="pull-right">60%</small> </h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (info)</span> </div>
                    </div>
                    </a> </li>
                  <li> <!-- Task item --> 
                    <a routerLink="#">
                    <h3> Make beautiful transitions <small class="pull-right">80%</small> </h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Complete (warning)</span> </div>
                    </div>
                    </a> </li>
                </ul>
              </li>
              <li class="footer"> <a routerLink="#">View all tasks</a> </li>
            </ul>
          </li>
          <li class="dropdown dropdown-user"> <a routerLink="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-settings"></i></a>
            <ul class="dropdown-menu">
              <li><a routerLink="#"><i class="pe-7s-users"></i> User Profile</a></li>
              <li><a routerLink="#"><i class="pe-7s-settings"></i> Settings</a></li>
              <li><a (click)="Logout()"><i class="pe-7s-key"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar"> 
    <div class="sidebar"> 
      <div class="user-panel text-center">
        <div class="image"> <img src="assets/dist/img/user2-160x160.png" class="img-circle" alt="User Image"> </div>
        <div class="info">
          <p>Borrower Name</p>
          <a routerLink="#"><i class="fa fa-circle text-success"></i> Online</a> </div>
      </div>
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li> <a routerLink="/borrower"><i class="ti-home"></i> <span>Dashboard</span> 
          </a> </li>
  <li class="treeview"> <a routerLink="/financial-statement"> <i class="fa fa-money" aria-hidden="true"></i><span>Financial Report</span> </a> </li>
  <li class="treeview"> <a routerLink="#"> <i class="fa fa-certificate" aria-hidden="true"></i><span>Compliance Certificate</span> </a> </li>
  <li class="treeview"> <a routerLink="/manage-case"> <i class="fa fa-bug" aria-hidden="true"></i><span>Manage Reserve Report</span> </a> </li>
  <li class="treeview"> <a routerLink="/new-case"> <i class="fa fa-bug" aria-hidden="true"></i><span>Manage Cases</span> </a> </li>
      </ul>
    </div>
  </aside>
  <!--////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////-->
  <div class="content-wrapper"> 
    <section class="content" style="margin-top:15px;padding:0;min-height:100%;">
      <div class="row"> 
        <div class="col-sm-12">
          <div class="panel panel-bd">
            <div class="table-financial-report" style="padding:15px;">
              <p class="text-right pull-right">
                <a routerLink="/new-case" type="button" class="btn btn-info btn-lg">New Case</a>
              </p>
              
              <h4 class="pull-left">Cases</h4>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="200">Case ID</th>
                    <th width="200">Loan ID</th>
                    <th data-toggle="modal" data-target="#myModal">Loan Amount</th>
                    <th>Approval Date</th>
                    <th>Term in Year</th>
                    <th>Statement</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="active">
                    <td id="student-data1">#66636</td>
                    <td id="student-data1">#65656</td>
                    <td id="student-data2">$2165</td>
                    <td id="student-data3">45 Days</td>
                    <td id="student-data3">2014</td>
                    <td id="student-data3">Pending</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
    <strong>Copyright &copy; 2016-2017 <a routerLink="#">bdtask</a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i> </footer>
    </div>