        	      <div class="sign-up-wrapper">
                  <form>
                	<h4>COMPANY REGISTRATION<span><img src="assets/images/cross.png" alt="image" title="cross-icon"/></span></h4>
                  <div class="form-group">
                    <label >Company Name</label>
                    <input type="text" class="form-control"   [(ngModel)]="Name" [ngModelOptions]="{standalone: true}">
                  </div>
                  
                 <div class="form-group">
                    <label >CIN</label>
                    <input type="text" class="form-control"  [(ngModel)]="LegalBNo" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label >Tax Identification No</label>
                    <input type="text" class="form-control"   [(ngModel)]="TaxIdNo" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label>Phone No</label>
                    <input type="text" class="form-control"  [(ngModel)]="phone" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label>Official Email id</label>
                    <input type="text" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                  </div>
                  
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control"  [(ngModel)]="password1" [ngModelOptions]="{standalone: true}">
                  </div>
                  
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control"  [(ngModel)]="password2" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div class="form-group">
                    <label>Select User Type</label>
                    <select (change)="onChange($event.target.value)">
                      <option *ngFor="let u of User">{{u}}</option>
                  </select>
                  </div>
                  
                  <div class="form-group">
                  <button class="btn btn-primary center-block text-uppercase" (click)="Signup()">Signup</button>
                  </div>
              </form>      
            </div>
            <div class="form-group">
              <button class="btn btn-primary center-block text-uppercase" routerLink="/login">Login</button>
            </div>