 <div class="wrapper">
            <header class="main-header"> 
                <a href="index.html" class="logo"> <!-- Logo -->
                    <span class="logo-mini">
                        <img src="assets/dist/img/mini-logo.png" alt="">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/dist/img/logo.png" alt="">
                    </span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <!-- Sidebar toggle button-->
                        <span class="sr-only">Toggle navigation</span>
                        <span class="pe-7s-keypad"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="pe-7s-mail"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <div class="pull-left"><img src="assets/dist/img/avatar.png" class="img-circle" alt="User Image"></div>
                                                    <h4>Support Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- Notifications -->
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="pe-7s-speaker"></i>
                                    <span class="label label-warning">{{length}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have {{length}} notifications</li>
                                    <li>
                                        <ul class="menu" *ngFor="let u of NotificationData">
                                            <li><a href="#"><i class="ti-user color-gray"></i>{{u.message}}</a></li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
                            <!-- Tasks -->
                            <li class="dropdown tasks-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="pe-7s-flag"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <ul class="menu">
                                            <li> <!-- Task item -->
                                                <a href="#">
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                                            <span class="sr-only">30% Complete (primary)</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li> <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- settings -->
                            <li class="dropdown dropdown-user">
                                <a class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-settings"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="profile.html"><i class="pe-7s-users"></i> User Profile</a></li>
                                    <li><a href="#"><i class="pe-7s-settings"></i> Settings</a></li>
                                    <li><a type="button" (click)="Logout()"><i class="pe-7s-key"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <div class="sidebar">
                    <div class="user-panel text-center">
                        <div class="image">
                            <img src="assets/dist/img/user2-160x160.png" class="img-circle" alt="User Image">
                        </div>
                        <div class="info">
                            <p>Administrative</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li>
                            <a type="button" routerLink="/admin"><i class="ti-home"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="treeview"> <a routerLink="/hedgeAgreement" type="button"> <i class="fa fa-certificate" aria-hidden="true"></i><span>Hedge Agreements</span> </a> </li>
                    </ul>
                </div> 
            </aside>
<!--////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
            <div class="content-wrapper">
                <section class="content">
                    <div class="row">
                        <div class="col-sm-12"   style="margin-top:30px;">
                            <div class="panel panel-bd">
                                <div class="table-financial-report">
                                <div class="container" style="width:100%;">
                                    <h2>Manage Loan Package</h2>
                                    <ul class="nav nav-tabs enginr-tabs">
                                        <li class="active"><a data-toggle="tab" href="#home">Case Request</a></li>
                                        <li><a data-toggle="tab" href="#menu1">Case forwarded</a></li>
                                        <li><a data-toggle="tab" href="#menu2">Loan Created</a></li>
                                    </ul>
                                    <div class="tab-content tab-bg">
                                    <!------------------------------------ CASE REQUEST ---------------->
                                    <div id="home" class="tab-pane fade in active">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                <th width="200">Id</th>
                                                <th>Borrower Name</th>
                                                <th width="200">Amount Requested</th>
                                                <th width="150"></th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="CaseData">
                                                <tr class="active" *ngFor="let u of CaseData">
                                                    <td id="student-data1" *ngIf="u.status=='delivered'">{{u.id}}</td>
                                                    <td id="student-data2" *ngIf="u.status=='delivered'">{{u.borrowerName}}</td>
                                                    <td id="student-data1" *ngIf="u.status=='delivered'">{{u.amountRequested}}</td>
                                                    <td *ngIf="u.status=='delivered'"><button class="btn btn-success" (click)="UpdateLoanPackage(u)">Update Loan Package</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!------------------------------------ CASE FORWARDED ---------------->
                                    <div id="menu1" class="tab-pane fade">
                                        <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                            <th width="200">Id</th>
                                            <th>Borrower Name</th>
                                            <th width="200">Amount Requested</th>
                                            <th width="320"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="active" *ngFor="let u of CaseData">
                                            <td id="student-data1" *ngIf="u.status=='verified'">{{u.id}}</td>
                                            <td id="student-data2" *ngIf="u.status=='verified'">{{u.borrowerName}}</td>
                                            <td id="student-data1" *ngIf="u.status=='verified'">{{u.amountRequested}}</td>
                                            <td *ngIf="u.status=='verified'"><button class="btn btn-success" data-toggle="modal" data-target="#myModal10" (click)="ModalData(u)">Make Loan Package</button>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                    <!------------------------------------ LOAN CREATED ---------------->
                                    <div id="menu2" class="tab-pane fade">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                            <th width="200">Id</th>
                                            <th>Loan Amount</th>
                                            <th width="200">Date</th>
                                            <th width="250"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="active" *ngFor="let u of loanData">
                                            <td id="student-data1">{{u.loanId}}</td>
                                            <td id="student-data2">{{u.loanAmount}}</td>
                                            <td id="student-data1">{{u.approvalDate | dateFilter}}</td>
                                            <td id="student-data3" class="text-center">
                                                <button class="btn btn-success" data-toggle="modal" data-target="#myModal4" (click)="ChangePage(u)">view</button>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal4" (click)="ModalData(u)">Upload Credit Agreement</button> 
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                </div>
                        		</div>
                            </div>
                        </div>
                    </div>
                </section> 
            </div> 
            <footer class="main-footer">
                <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
                <strong>Copyright &copy; 2016-2017 <a href="#">bdtask</a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
            </footer>
        </div>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!---------------------------------------MODAL 4------------------------------------------------------ -->
<div class="modal fade" id="myModal4" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Credit Agreement</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
            	<label>Interval</label>
                <input type="text" class="form-control" [(ngModel)]="Interval">
            </div>
            <div class="form-group">
            	<label>Reserve Required</label>
                <input type="text" class="form-control" [(ngModel)]="ResrvRequired">
            </div>
            <div class="form-group">
            	<button class="btn btn-primary center-block" (click)="MakeCreditAgrement()">Submit</button>
            </div>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------MODAL 1---------------------------------------------------------->
<div class="modal fade" id="myModal10" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Make Loan Package</h4>
        </div>
        <div class="modal-body" *ngIf="modalData">
            <div class="form-group">
            <label >Date</label>
            <ng2-datepicker [options]="options" class="form-control" [(ngModel)]="date"></ng2-datepicker>
            </div>
            <label>Select Lenders</label>
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th width="150">Amount</th>
                        <th width="150">Lender Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" *ngFor="let i of modalData.proposals">
                        <td>{{i.Amount}}</td>
                        <td>{{i.name}}</td>
                        <input type="checkbox" name="options" value={{i.lenderId}} (change)="LenderSelect($event)" />
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label>Term</label>
                <input type="text" class="form-control" [(ngModel)]="Term">
            </div>
            <div class="form-group">
                <label>Amount</label>
                <input type="text" class="form-control" [(ngModel)]="Amount">
            </div>
            <div class="form-group">
                <button class="btn btn-primary center-block" (click)="MakeLoanPackage()">Submit</button>
            </div>
        </div>
        </div>
    </div>
</div>